{% load i18n %}
{% load staticfiles %}
<html>
    <head>
        <script src="{% static 'plugins/jquery/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/jquery.form.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/jquery.i18n.properties.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/jquery.validate.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/additional-methods.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins/sweet-alert/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.3.7/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_static_files %}{% endblock extra_static_files %}
        <title>{% trans 'Brain ERP' %}</title>
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>